

<div class="text-center center-div" id="home" style="padding: 5%;">
<div class="container w-25 border py-5 " id="container">
<h2 class="font-weight-bold">Welcome Admin</h2>
<a href="/admin/dashboard" style="text-decoration: none; color:hotpink;">Dashboard</a><br><br>

     <button  type="submit" class="btn btn-success"><a href="/admin/logout" style="text-decoration: none; color:white;">Logout</a></button>
</div>
</div>