<div class="text-center center-div" id="login">
<div class="container w-25 border py-5 " id="container">
<h2 class="font-weight-bold">Admin System</h2>
   <form action="/admin/adlogin" method="post">
    <label for="username">Username</label><br>
    <input type="text" name="username" id="username"><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password"><br><br><br>
    <button type="submit" class="btn btn-success">Login</button>
</form>
</div>
</div>