<header id="header">
<nav>
    <div class="container">
        <div class="text-center">
            <p style="font-weight:bold; padding:5%; font-size:x-large;">Admin Management</p>
        </div>
     </div>
</nav>
</header>