<div class="text-center center-div" id="home">
<div class="container w-25 border py-5 " id="container">
<h2 class="font-weight-bold">Home Page</h2>
     <button  type="submit" class="btn btn-success"><a href="/signout" style="text-decoration: none; color:white;">Signout</a></button>
</div>
</div>