<div class="text-center center-div" id="login">
<div class="container w-25 border py-5 " id="container">
 <h2 class="font-weight-bold">Login System</h2>
    <form action="/login" method="post">
        <label for="">Username</label><br>
        <input type="text" name="username" name="" id=""><br>
        <label for="">Password</label><br>
        <input type="password" name="password" name="" id=""><br><br>
        <button type="submit" class="btn btn-success">Login</button>
        <p>Dont have an account? <a href="/signup"  style="text-decoration: none; color:hotpink">Sign Up</a></p>
    </form>
</div>
</div>